@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body { font-family: 'Indie Flower', cursive;
    font-size: 20px;
    background-color: #d5fae5;
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

ul, li, nav{
    
    display:grid;
    grid-column: none;

}



header{

    display: block;
    

}
footer{
    width: 760px;
    grid-template-columns: 1fr 300px;

}


main{
    width: 760px;
    margin: 1rem auto;
}
header,footer{
    border: 15px solid #7d84b2;
    margin: 10px auto;
    padding: 10px ;
    background-color:#dbf4a7;
    
}

h1 {color:darkslateblue;
    box-shadow: 20px 8px 54px darkblue;
    background-color:whitesmoke;}

h3 {
    color: #7d84b2;
    background-color: aliceblue;
    box-shadow: 10px 15px 8px darkblue;
}

/* Class selectors*/

.rafting {
    width: 300px;
    height: auto;
}

.griding{
    display: grid;
    column-gap: 1px;
}

p {
    color: darkblue;
    border: 10px solid whitesmoke;
}