@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body { font-family: 'Indie Flower', cursive;
    font-size: 20px;
background-color: #d5fae5;
text-align: center;
}

header,main{

    width: 760px;

}
footer{
    width: 760px;
    grid-template-columns: 1fr 300px;

}


main{

    margin: 1rem auto;
}
header,footer{
    border: 15px solid #7d84b2;
    margin: 0 auto;
    padding: 10px ;
    background-color:#dbf4a7;
}

h1 {color:darkslateblue;}

h3 {
    color: #7d84b2;
    background-color: aliceblue;
}

/* Class selectors*/

.rafting {
  width: 300px;
  height: auto;
}

p {
    color: darkblue;
    border: 10px solid whitesmoke;
}