body {font-size: 25px;
background-color: #d5f9be;
text-align: center;
}

header,main,footer{

    width: 760px;

}


main{

    margin: 1rem auto;
}
header,footer{
    margin: 0 auto;
    padding: 1px solid rgb(30, 62, 77) ;
    background-color:#dbf4a7;
    text-align: center;
}

h1 {color:#7d84b2;}

/* Class selectors*/

.rafting {
  width: 100px;
  height: auto;
}